<!DOCTYPE html>
<html lang="en">
    {% include 'Users/head.html.twig' %}
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include 'Users/sidebar.html.twig' %}
        <!-- Main Content -->
        <div id="content">
            {% include 'Users/navigation.html.twig' %}
            <!-- Begin Page Content -->
        
            <div class="jumbotron pt-0">
                <div class="container">

                    {{ form_start(radioform) }}
                    <div class="conteneur d-flex flex-column align-items-center justify-content-center">
                        <div class="row recherche">
                            <div class="col">
                                <div class="form-group has-search ">
                                    <button class="fa fa-search form-control-feedback"></button>
                                    {{ form_row(radioform.nameRadio) }}  
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(radioform) }}

                    <div class="row">
                        <div class="col ml-auto mr-auto">
                            <!--titre -->
                            <div class="text-dark">
                                <h5>Radios les plus écoutés</h5>
                            </div>
                            <hr class=" mt-4 diviser">
                        </div>
                    </div>

                    <div class="row col">
                        <table id='tabAccueil' class='border0 tabAccueil'>
                            <tbody id="list-radio" class="accueilTab">
                                {% for radio in radios %}
                                <tr>
                                    <td>
                                        <img class='img-radio' src="{{ radio.avatar }}" alt="radio.{{radio.id}}">
                                    </td>
                                    <td>{{ radio.nameRadio }}</td>
                                    <td>
                                        <audio class='myaudio' id='track'>
                                            <source src="{{ radio.urlRadio }}" type='audio/mp3' />Rien</audio>
                                            <div id='player-container'>
                                                <div id='play-pause{{loop.index}}' class='play'>Play</div>
                                            </div>
                                    </td>
                                </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span class="text-black">Copyright &copy; Webradio - Stream - 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% include 'Users/Radios/script.html.twig' %}

</body>

</html>