<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
<script src="{{ asset('js/mainJs/index.js') }}"></script>

<!-- facebook -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0&appId=1268121773351660&autoLogAppEvents=1">
</script>

<script>

$(document).ready(function() {
    
    let track =  document.getElementById("track");
    
    function playPause1 () {

        if(track.paused) {

            track.play();
            $("#play-pause1").addClass('pause');
        }else {
            track.pause();
            $("#play-pause1").removeClass('pause');
        }
    } 

    function playPause2 () {

        if(track.paused) {

            track.play();
            $("#play-pause2").addClass('pause');
        }else {
            track.pause();
            $("#play-pause2").removeClass('pause');
        }
    }  

    function playPause3 () {

        if(track.paused) {

            track.play();
            $("#play-pause3").addClass('pause');
        }else {
            track.pause();
            $("#play-pause3").removeClass('pause');
        }
    }

        function playPause4 () {

        if(track.paused) {

            track.play();
            $("#play-pause4").addClass('pause');
        }else {
            track.pause();
            $("#play-pause4").removeClass('pause');
        }
    }

     $('#play-pause1').click(function() {
        playPause1();
    });

     $('#play-pause2').click(function() {
        playPause2();
    });

     $('#play-pause3').click(function() {
        playPause3();
    });

     $('#play-pause4').click(function() {
        playPause4();
    });
});

   

 </script>