<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
<script src="{{ asset('js/mainJs/index.js') }}"></script>

<script>
    
    let track =  document.getElementById("track");
    
    function playPause () {

        if(track.paused) {

            track.play();
            $("#play-pause").addClass('pause');
        }else {
            track.pause();
            $("#play-pause").removeClass('pause');
        }
    } 

     $('#play-pause').click(function() {
        playPause1();
    });

    


$(document).ready(function() {

    let store = true;
    const token = localStorage.getItem("token");

    

    if(token !== ""){

        $.ajax({
            type: "POST", 
            url: "/radios/show", 
            data: JSON.stringify({
                "token": token,
            }),
            dataType: 'json',
            async: true,
            success: function(response) {

                /*if(response != undefined){
                    $('#myname').html(response.user[0].username);
                    $('#logo-setting').attr('src', user.user[0].avatar);
                }*/
                console.log(response.radios[0]);
                myradio = response.radios[0];

                    let mytab = "<tr><td><img class='img-radio' src='"+myradio.logo+"' alt=''></td><td>"+myradio.radio_name+"</td><td><audio class='myaudio' id='track'><source src='"+myradio.direct_url+"' type='audio/mp3' />Rien</audio><div id='player-container'><div id='play-pause' class='play'>Play</div></div></td></tr>";
                    
                    $("#list-radio").html(mytab);
                
            },
            error: function (err) {
                
                console.log(err);
            }
        });
    }else{
    
        store = false;
        localStorage.removeItem('token');

         window.location.href = '/';

        console.log("Vous êtes deconnecté");
    }

 
});
</script>